/* As cores do site em variaveis */
:root{
    --bg: #FFF5F7;
    --card: #ffffff;
    --input: #FFF0F3;
    --border: rgba(233, 30, 99, 0.15);

    --primary: #E91E63;
    --text: #2D1B1E;
    --sub: #8B6E75;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #FFF5F7, #FFD4E0);
}

.agendamento{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

.container{
    width: 360px;
    padding: 40px;
    background: var(--card);
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(233, 30, 99, 0.15);
    text-align: center;
}

h1{
    margin-bottom: 25px;
    color: var(--primary);
    font-family: "Playwrite IE", cursive;
    font-weight: 500;
}


/* Sequencias de input group que faz a transição do label e troca de cor pelo id dos labels */
/* Sistema que muda o nome do campo no formulario para cima com uma transição ao clicar */
.input-group{
    position: relative;
    margin-top: 20px;
}

.input-group input,
.input-group select{
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background: var(--input);
    color: var(--text);
    font-size: 14px;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;
}

.input-group label{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--sub);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--card);
    padding: 0 4px;
}

.input-group input:focus,
.input-group select:focus{
    border-color: var(--primary);
    box-shadow: 0 0 8px rgba(233, 30, 99, 0.3);
}

.input-group input:focus + label,
.input-group input:valid + label,
.input-group select:focus + label,
.input-group select:valid + label{
    top: -8px;
    font-size: 11px;
    color: var(--primary);
}


/* Arrumar o bug da hora sobreposta, deixando ela direto em cima  */
.input-group input[type="datetime-local"] + label {
    top: -8px;
    font-size: 11px;
    color: var(--primary);
}

/* Botao agendar */
#agendar{
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 40px;
    background: var(--primary);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

#agendar:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(233, 30, 99, 0.3);
}

/* Botao de voltar para tela inicial */
.inicio{
    position: fixed;
    top: 40px;
    right: 40px;

    padding: 30px 46px;
    border-radius: 12px;

    background: var(--card);
    color: var(--primary);

    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    border: 1px solid var(--border);

    cursor: pointer;
    transition: 0.3s;

    box-shadow:1px 1px var(--text) ;
}

.inicio:hover{
    background: var(--primary);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(233, 30, 99, 0.3);
}