<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- MINHAS FONTES PARA TEXTOS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-agendar.css') }}"> <!-- Para rodar no FLASK sem dar erro -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IE:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <title>Kurly Studio</title>
    </head>
    
    <body>
        <a href="/" class="inicio">Início</a>

        <section class="agendamento">
            <div class="container">
        
            <h1>Agendamento</h1>
            {% if agendamento and not pode_editar %}

                <p style="color: red; font-weight: 500; text-align:center;">
                    Alterações só podem ser feitas com mais de 2 dias de antecedência.<br>
                    Ligue para o suporte para remarcar
                </p>

                <button disabled style="width:100%; margin-top:20px;">
                    Alteração bloqueada
                </button>

            {% else %}
        
            <form action="/agendar" method="POST" id="agendamento" novalidate>

                <div class="input-group">
                    <input type="text" name="nome" 
                    value="{{ agendamento[2] if agendamento else '' }}"> <!--Aqui eu pego do back, se for clicado o botao de alterar ele ja vem com os dados, se nao vem vazio-->
                    <label>Nome da cliente</label>
                </div>

                <div class="input-group">
                    <input type="text" name="telefone" 
                    value="{{ agendamento[3] if agendamento else '' }}">
                    <label>Telefone</label>
                </div>

                <div class="input-group">
                    <select name="servico" id="servico" required>
                        <option value="" disabled {% if not agendamento %}selected{% endif %}></option>
                        <option value="1" {% if agendamento and agendamento[4]==1 %} selected{% endif %} required>Corte Feminino</option> <!--Se vier do back ele ja seleciona o serviço, se nao vem vazio-->
                        <option value="2" {% if agendamento and agendamento[4]==2 %} selected{% endif %} required>Corte Masculino</option>
                        <option value="3" {% if agendamento and agendamento[4]==3 %} selected{% endif %} required>Escova</option>
                        <option value="4" {% if agendamento and agendamento[4]==4 %} selected{% endif %} required>Lavagem</option>
                        <option value="5" {% if agendamento and agendamento[4]==5 %} selected{% endif %} required>Coloração</option>
                        <option value="6" {% if agendamento and agendamento[4]==6 %} selected{% endif %} required>Luzes ou Mechas</option>
                        <option value="7" {% if agendamento and agendamento[4]==7 %} selected{% endif %} required>Progressiva</option>
                        <option value="8" {% if agendamento and agendamento[4]==8 %} selected{% endif %} required>Botox Capilar</option>
                        <option value="9" {% if agendamento and agendamento[4]==9 %} selected{% endif %} required>Hidratação</option>
                        <option value="10" {% if agendamento and agendamento[4]==10 %} selected{% endif %} required>Reconstrução</option>
                    </select>
                    <label>Serviço</label>
                </div>

                <div class="input-group">
                    <input type="datetime-local" name="inicio" 
                    value="{{ agendamento[1].replace(' ', 'T') if agendamento else '' }}" required>
                    <label>Data e horário</label>
                </div>

                <button type="submit" id="agendar">Agendar</button>

                <input type="hidden" name="id" 
                value="{{ agendamento[0] if agendamento else '' }}">
                
                

            </form>
            {% endif %}
            
            <!-- SCRIPT JAVASCRIPT PARA BOTÕES MAIS BONITOS -->
            {% if mensagem %} 
                <script> //Aqui ele vai testar se no retorno do html (a mensagem), vai ter algo escrito, se tiver ele verifica a mensagem em string
                    Swal.fire({
                    title: "Resultado",
                    text: "{{ mensagem }}",
                    icon: "{{ 'error' if 'indisponível' in mensagem or 'inválida' in mensagem or 'Preencha' in mensagem or 'Selecione' in mensagem else 'success' }}" //Vai colcoar o icon de erro se na mensagem tiver a palavra indisponivel ou invalida se nao ele coloca o icon de sucesso
                });
                </script>
            {% endif %}


            </div>
        </section>
        
    </body>
</html>